{% extends 'transport/layout.html' %}
{% load static %}

{% block title %}New Transport{% endblock %}

{% block body %}

    <div class='mb-3'>
        <h2>New Transport</h2>
        {% if message %}
            <div class="alert alert-primary">{{ message }}</div>
        {% endif %}

        {% if error %}
            <div  class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class='btn btn-primary' value="Add">
        </form>
    </div>
    
{% endblock %}